<a href="https://colab.research.google.com/github/mahesh15698/Test_OpenAI_API_Langchain/blob/main/StudentInfoExtractionProject.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Import Necessary Libraries

In [ ]:
import openai

## Create your OpenAI key use it over here

In [ ]:
mykey= "Create Your own key follow please read.md file of this project to create OpenAI API key"

In [ ]:
openai.api_key=mykey

In [ ]:
all_models=openai.models.list()

## List of LLM models offered by OpenAI

In [ ]:
list(all_models)

[Model(id='gpt-3.5-turbo-0301', created=1677649963, object='model', owned_by='openai'),
 Model(id='text-embedding-3-large', created=1705953180, object='model', owned_by='system'),
 Model(id='dall-e-3', created=1698785189, object='model', owned_by='system'),
 Model(id='dall-e-2', created=1698798177, object='model', owned_by='system'),
 Model(id='text-embedding-ada-002', created=1671217299, object='model', owned_by='openai-internal'),
 Model(id='tts-1-hd-1106', created=1699053533, object='model', owned_by='system'),
 Model(id='tts-1-hd', created=1699046015, object='model', owned_by='system'),
 Model(id='davinci-002', created=1692634301, object='model', owned_by='system'),
 Model(id='babbage-002', created=1692634615, object='model', owned_by='system'),
 Model(id='text-embedding-3-small', created=1705948997, object='model', owned_by='system'),
 Model(id='gpt-3.5-turbo', created=1677610602, object='model', owned_by='openai'),
 Model(id='gpt-3.5-turbo-0613', created=1686587434, object='model', owned_by='openai'),
 Model(id='gpt-3.5-turbo-16k-0613', created=1685474247, object='model', owned_by='openai'),
 Model(id='whisper-1', created=1677532384, object='model', owned_by='openai-internal'),
 Model(id='gpt-3.5-turbo-1106', created=1698959748, object='model', owned_by='system'),
 Model(id='tts-1-1106', created=1699053241, object='model', owned_by='system'),
 Model(id='gpt-3.5-turbo-instruct', created=1692901427, object='model', owned_by='system'),
 Model(id='tts-1', created=1681940951, object='model', owned_by='openai-internal'),
 Model(id='gpt-3.5-turbo-instruct-0914', created=1694122472, object='model', owned_by='system'),
 Model(id='gpt-3.5-turbo-16k', created=1683758102, object='model', owned_by='openai-internal')]

In [ ]:
import pandas as pd
pd.DataFrame(list(all_models),columns=["id","created","object","owned_by"])

,id,created,object,owned_by
0,"(id, gpt-3.5-turbo-0301)","(created, 1677649963)","(object, model)","(owned_by, openai)"
1,"(id, text-embedding-3-large)","(created, 1705953180)","(object, model)","(owned_by, system)"
2,"(id, dall-e-3)","(created, 1698785189)","(object, model)","(owned_by, system)"
3,"(id, dall-e-2)","(created, 1698798177)","(object, model)","(owned_by, system)"
4,"(id, text-embedding-ada-002)","(created, 1671217299)","(object, model)","(owned_by, openai-internal)"
5,"(id, tts-1-hd-1106)","(created, 1699053533)","(object, model)","(owned_by, system)"
6,"(id, tts-1-hd)","(created, 1699046015)","(object, model)","(owned_by, system)"
7,"(id, davinci-002)","(created, 1692634301)","(object, model)","(owned_by, system)"
8,"(id, babbage-002)","(created, 1692634615)","(object, model)","(owned_by, system)"
9,"(id, text-embedding-3-small)","(created, 1705948997)","(object, model)","(owned_by, system)"
10,"(id, gpt-3.5-turbo)","(created, 1677610602)","(object, model)","(owned_by, openai)"
11,"(id, gpt-3.5-turbo-0613)","(created, 1686587434)","(object, model)","(owned_by, openai)"
12,"(id, gpt-3.5-turbo-16k-0613)","(created, 1685474247)","(object, model)","(owned_by, openai)"
13,"(id, whisper-1)","(created, 1677532384)","(object, model)","(owned_by, openai-internal)"
14,"(id, gpt-3.5-turbo-1106)","(created, 1698959748)","(object, model)","(owned_by, system)"
15,"(id, tts-1-1106)","(created, 1699053241)","(object, model)","(owned_by, system)"
16,"(id, gpt-3.5-turbo-instruct)","(created, 1692901427)","(object, model)","(owned_by, system)"
17,"(id, tts-1)","(created, 1681940951)","(object, model)","(owned_by, openai-internal)"
18,"(id, gpt-3.5-turbo-instruct-0914)","(created, 1694122472)","(object, model)","(owned_by, system)"
19,"(id, gpt-3.5-turbo-16k)","(created, 1683758102)","(object, model)","(owned_by, openai-internal)"

## Simple Example of using OpenAI text generation using gpt 3.5 turbo

In [ ]:
# This code is for v1 of the openai package: pypi.org/project/openai
from openai import OpenAI
client = OpenAI(api_key=mykey)

In [ ]:
client

In [ ]:
response = client.chat.completions.create(
    model="gpt-3.5-turbo",
    messages=[
    {
      "role": "user",
      "content": "who won the first cricket worldcup?"
    }
      ]
)

In [ ]:
response

ChatCompletion(id='chatcmpl-8msjiWT1L8A515dYAxV0sWbol466p', choices=[Choice(finish_reason='stop', index=0, logprobs=None, message=ChatCompletionMessage(content='The first cricket World Cup was won by the West Indies in 1975.', role='assistant', function_call=None, tool_calls=None))], created=1706660842, model='gpt-3.5-turbo-0613', object='chat.completion', system_fingerprint=None, usage=CompletionUsage(completion_tokens=16, prompt_tokens=15, total_tokens=31))

In [ ]:
response.choices[0].message.content

'The first cricket World Cup was won by the West Indies in 1975.'

## Simple Example Few Prompt Sentence

In [ ]:
student_description = "Mahesh Jadhav is a student of Data science at Pace University. He is an indian and has a 3.93 GPA. Mahesh is known for his programming skills and is an active member of the college's AI Club. He hopes to pursue a career in artificial intelligence after graduating."

In [ ]:
# A simple prompt to extract information from "student_description" in a JSON format.
prompt = f'''
Please extract the following information from the given text and return it as a JSON object:

name
college
grades
club

This is the body of text to extract the information from:
{student_description}
'''

In [ ]:
student_description

"Mahesh Jadhav is a student of Data science at Pace University. He is an indian and has a 3.93 GPA. Mahesh is known for his programming skills and is an active member of the college's AI Club. He hopes to pursue a career in artificial intelligence after graduating."

In [ ]:
client

In [ ]:
response = client.chat.completions.create(
    model="gpt-3.5-turbo",
    messages=[
    {
      "role": "user",
      "content": prompt
    }
      ]
)

In [ ]:
response.choices[0].message.content

'{\n  "name": "Mahesh Jadhav",\n  "college": "Pace University",\n  "grades": "3.93 GPA",\n  "club": "AI Club"\n}'

In [ ]:
import json

In [ ]:
info= json.loads(response.choices[0].message.content)

In [ ]:
info

{'name': 'Mahesh Jadhav',
 'college': 'Pace University',
 'grades': '3.93 GPA',
 'club': 'AI Club'}

## Lets Explore Function call parameter for this problem to extract multiple students data

In [ ]:
student_custom_function = [
    {
        'name': 'extract_student_info',
        'description': 'Get the student information from the body of the input text',
        'parameters': {
            'type': 'object',
            'properties': {
                'name': {
                    'type': 'string',
                    'description': 'Name of the person'
                },
                'college': {
                    'type': 'string',
                    'description': 'The college name.'
                },
                'grades': {
                    'type': 'integer',
                    'description': 'CGPA of the student.'
                },
                'club': {
                    'type': 'string',
                    'description': 'college club for extracurricular activities. '
                }

            }
        }
    }
]

In [ ]:
response2 = client.chat.completions.create(
    model="gpt-3.5-turbo",
    messages=[{"role": "user", "content": prompt }],
    functions=student_custom_function
)

In [ ]:
response2.choices[0].message.function_call.arguments

'{\n  "name": "Mahesh Jadhav",\n  "college": "Pace University",\n  "grades": 3.93,\n  "club": "AI Club"\n}'

In [ ]:
json.loads(response2.choices[0].message.function_call.arguments)

{'name': 'Mahesh Jadhav',
 'college': 'Pace University',
 'grades': 3.93,
 'club': 'AI Club'}

In [ ]:
student2="Rasika Gulhane is a student of computer science at Pace University New York. She is an indian and has a 4.00 GPA. Rasika is known for her programming skills and is an active member of the college's data science Club. She hopes to pursue a career in artificial intelligence after graduating."

In [ ]:
student3="Chaitanya Dave is a student of Data science at Pace University New York. He is an indian and has a 3.90 GPA. Chaitanya is known for his programming skills and is an active member of the college's MLops Club. He hopes to pursue a career in artificial intelligence after graduating."

In [ ]:
student_info = [student_description, student2,student3]
for student in student_info:
    print(student)

Mahesh Jadhav is a student of Data science at Pace University. He is an indian and has a 3.93 GPA. Mahesh is known for his programming skills and is an active member of the college's AI Club. He hopes to pursue a career in artificial intelligence after graduating.
Rasika Gulhane is a student of computer science at Pace University New York. She is an indian and has a 4.00 GPA. Rasika is known for her programming skills and is an active member of the college's data science Club. She hopes to pursue a career in artificial intelligence after graduating.
Chaitanya Dave is a student of Data science at Pace University New York. He is an indian and has a 3.90 GPA. Chaitanya is known for his programming skills and is an active member of the college's MLops Club. He hopes to pursue a career in artificial intelligence after graduating.

## Final code implementation

In [ ]:
import json
student_info = [student_description, student2,student3]
for student in student_info:
    response =  client.chat.completions.create(
        model = 'gpt-3.5-turbo',
        messages = [{'role': 'user', 'content': student}],
        functions = student_custom_function,
        function_call = 'auto'
    )

    response = json.loads(response.choices[0].message.function_call.arguments)
    print(response)#import csv

{'name': 'Mahesh Jadhav', 'college': 'Pace University', 'grades': 3.93, 'club': 'AI Club'}
{'name': 'Rasika Gulhane', 'college': 'Pace University New York', 'grades': 4.0, 'club': 'Data Science Club'}
{'name': 'Chaitanya Dave', 'college': 'Pace University New York', 'grades': 3.9, 'club': 'MLops Club'}